@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg font-sans text-black;
}

::-webkit-scrollbar {
  width: 10px;
  background: #f6f8fa;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}
/* Infinite horizontal scroll for "Warum opny.ai" */
@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 35s linear infinite;
}
